.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.3s ease;
  box-shadow: none; /* default: no shadow */
}

.navbar.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.336);
  top: -2%;
}


.logo {
  display: flex;
}

.logo-img {
  height: 10vh;
  width: 20vw;
  object-fit: contain;
  position: relative;
  /* left: -7vw; */
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  position: relative;
  /* left: -12vw; */
}

.nav-link {
  text-decoration: none;
  color: #4b5563;
  font-size: 1.3rem;
  position: relative;
  transition: color 0.3s;
}

.nav-link::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 8px;
  width: 0%;
  background-color: #6c28d9;
  transition: width 0.3s ease;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.nav-link:hover,
.nav-link.active {
  color: #6d28d9;
}

.nav-link.active::after {
  width: 100%;
}

.auth-buttons {
  display: flex;
  gap: 15px;
  position: relative;
  /* right: 5vw; */
}

.auth-buttons .sign-in {
  background-color: #6d28d9;
  color: white;
  padding: 12px 30px;
  height: 8vh;
  width: 10vw;
  font-size: 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.auth-buttons .sign-in:hover{
  background-color: #ede9fe;
  color: #6d28d9;
}

.auth-buttons .sign-up {
  background-color: #ede9fe;
  color: #6d28d9;
  padding: 12px 30px;
  height: 8vh;
  width: 10vw;
  font-size: 1rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.auth-buttons .sign-up:hover{
  background-color:#6d28d9;
  color: white;
}

@media (max-width: 600px) {
  
  .navbar{
    display: none;
  }

  
}